doctype 5
html
  head
    title= 'Base Node app'
    != css('screen')
    != css('gumby')
    != css('print')
    != css('ie')
    link(rel='stylesheet', href="/stylesheets/#{stylesheet}.css")
  body
    .row
      #header.twelve.columns
        h1= title

    - var flashTypes = ['info', 'error']
    each flashType in flashTypes
      if flash[flashType]
        p.flash(class=flashType)
          = flash[flashType]

    .row
      block content

    != js('application')
